*.aux
*.bbl
*.ent
*.lof
*.log
*.nav
*.out
*.pyc
*.run.xml
*.snm
*.synctex.gz
*.toc
.DS_Store
.fdb_latexmk
.fls
.ipynb_checkpoints
.nav
.snm
.synctex.gz
/various/bureaucracy
/various/protocol.md
/various/questions.md
/various/resources/papers
/various/vpn_tunnelblick
__pycache__
